/****************RESET*************/
*{
    margin: 0;
    padding: 0;
    text-decoration: none;
}
/****************BODY**************/
main{
    display: inline-flex !important;
}




